@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');

body{
    font-family: 'DM Serif Text', serif;
    letter-spacing: 1px;
}

.button{
    margin: 2px;
    letter-spacing: 1px;
}

.gifcontainer{
    margin-top: 1em;
    background-color: silver;
    border-radius: 0.2em;
    border-top: 0.2em solid silver;
    font-weight: 800;
}

img{
    border-radius: 0.6em;
    border: 1.5px solid;
}

#userInputButton{
    letter-spacing: 1px;
}